@model DatabaseInteraction.Models.UserLogin
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/NoUser.cshtml";
}

<h2>Forgot Password</h2>
@using (Html.BeginForm(/*"ForgotPassword", "UserLogin",*/ FormMethod.Post))
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    <button id="Reset" value="Reset">Reset Password</button>
}
