<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="panel panel-default">
        <div class="panel-heading">
            Student: <!-- INSERT STUDENT NAME HERE-->
            <ul class="pull-right panel-settings panel-button-tab-right">
                <li class="dropdown">
                    <a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                        <em class="fa fa-cogs"></em>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <ul class="dropdown-settings">
                                <li>
                                    <a href="#">
                                        <em class="fa fa-cog"></em> Settings 1
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <em class="fa fa-cog"></em> Settings 2
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <em class="fa fa-cog"></em> Settings 3
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
        </div>

        <div class="panel-body">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Information</a></li>
                <li><a href="#tab2" data-toggle="tab">Accomodations</a></li>
                <li><a href="#tab3" data-toggle="tab">Academic</a></li>
                <li><a href="#tab4" data-toggle="tab">Behavior</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane fade in active" id="tab1">
                 

                    <div class="w3-half">
                        <h4 class="boldText">Last Year: Air Test</h4>
                        <table id="airTest" class="TableFormat">
                            <tr>
                                <th>Math</th>
                                <th>Reading</th>
                            </tr>
                            <tr>
                                <!-- Need to dynamically populate these / placeholder -->
                                <td>73%</td>
                                <td>72%</td>
                            </tr>
                        </table>
                    </div>
                    <!-- IEP due date -->
                    <div class="w3-half">
                        <div>
                            <h4 class="boldText">*IEP Due Date</h4>
                            <!-- Need to dynamically populate these / placeholder -->
                            <p class="DateAlign">3-20-2019</p>
                        </div>
                        <div>
                            <h4 class="boldText">*ETR Due Date</h4>
                            <!-- Need to dynamically populate these / placeholder -->
                            <p class="DateAlign">4-20-2020</p>
                        </div>
                    </div>

                    <!-- Second Row -->
                    <!-- PRo-Core Reading -->
                    <div class="w3-half">
                        <h4 class="boldText">Pro-Core Reading</h4>
                        <table id="proCore" class="TableFormat">
                            <tr>
                                <th>Fall</th>
                                <th>Winter</th>
                                <th>Spring</th>
                            </tr>
                            <tr>
                                <!-- Need to dynamically populate these / placeholder -->
                                <td>11%</td>
                                <td>45%</td>
                                <td>100%</td>
                            </tr>
                        </table>
                    </div>
                    <div class="w3-half">
                        <!-- SRI -->
                        <h4 class="boldText">SRI</h4>
                        <table id="SRI" class="TableFormat">
                            <tr>
                                <th>Fall</th>
                                <th>Winter</th>
                                <th>Spring</th>
                            </tr>
                            <tr>
                                <!-- Need to dynamically populate these / placeholder -->
                                <td>25%</td>
                                <td>65%</td>
                                <td>100%</td>
                            </tr>
                        </table>

                    </div>

                    <!-- Third Row -->
                    <!-- TenMark-Math -->
                    <div class="w3-half">
                        <h4 class="boldText">TenMark-Math</h4>
                        <table id="TenMark" class="TableFormat">
                            <tr>
                                <th>Fall</th>
                                <th>Winter</th>
                                <th>Spring</th>
                            </tr>
                            <tr>
                                <!-- Need to dynamically populate these / placeholder -->
                                <td>23.5%</td>
                                <td>25.2%</td>
                                <td>99.99%</td>
                            </tr>
                        </table>
                    </div>

                </div>


                <div class="tab-pane fade" id="tab2">

                    <!-- List of Accommodations -->

                    <div class="topBar" style="height: 50px;">
                        <h3 class="w3-threequarter boldText">CLASSROOM</h3>
                        <button class="" style="float: right;"><i class="fa fa-plus"></i> Edit Accommodations</button>

                    </div>
                    <ul class="listedAccomodations">
                        <!-- These will need to be dynamically populated -->
                        <li>Read Aloud</li>
                        <li>Scibe</li>
                        <li>Math Tools</li>
                        <li>Extended Time: <span id="etTime" class="boldText"> 10min   </span></li>
                    </ul>

                    <hr>
                    <!-- Testing Accommodation data / need to dynamically populate for what accomadations they have-->
                    <div class="secondRow abcChart">
                        <!-- Reading -->
                        <div class="w3-half">
                            <h4 class="boldText">Reading</h4>
                            <table id="readingTable" class="TableFormat">
                                <tr>
                                    <th>Date</th>
                                    <th>Test Given</th>
                                    <th>Precentile</th>
                                </tr>
                                <tr>
                                    <!-- Need to dynamically populate these / placeholder -->
                                    <td>03/03/2019</td>
                                    <td>Had him read a passage out loud</td>
                                    <td>90th</td>
                                </tr>
                            </table>
                            <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Test</button>
                        </div>
                        <!-- Writing -->
                        <div class="w3-half">
                            <h4 class="boldText">Writing</h4>
                            <table id="writingTable" class="TableFormat">
                                <tr>
                                    <th>Date</th>
                                    <th>Test Given</th>
                                    <th>Precentile</th>
                                </tr>
                                <tr>
                                    <!-- Need to dynamically populate these / placeholder -->
                                    <td>03/03/2019</td>
                                    <td>Had him read a passage out loud</td>
                                    <td>90th</td>
                                </tr>
                            </table>
                            <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Test</button>
                        </div>
                        <!-- Math -->
                        <div class="w3-half">
                            <h4 class="boldText">Math</h4>
                            <table id="mathTable" class="TableFormat">
                                <tr>
                                    <th>Date</th>
                                    <th>Test Given</th>
                                    <th>Precentile</th>
                                </tr>
                                <tr>
                                    <!-- Need to dynamically populate these / placeholder -->
                                    <td>03/03/2019</td>
                                    <td>Had him read a passage out loud</td>
                                    <td>90th</td>
                                </tr>
                            </table>
                            <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Test</button>
                        </div>
                    </div>


                </div>

                <div class="tab-pane fade" id="tab3">

                    <h3 class="boldText"><u>Reading</u></h3>

                    <!--Goal Section -->
                    <div class="goalSection">
                        <h5 class="boldText">Goal: <span>Answers 10 comprehension questions in 3 out of 4 trials</span></h5>
                        <table id="readingGoal" class="TableFormat">
                            <tr>
                                <th>Date</th>
                                <th>Assignment</th>
                                <th>Score</th>
                                <th>Image</th>
                            </tr>
                            <tr>
                                <!-- Need to dynamically populate these / placeholder -->
                                <td>01/03/2019</td>
                                <td>
                                    When given a third grade reading passage read aloud, The student will identify the main
                                    idea of the passage with at least 3 supporting details in 4 out of 5 trials with 80% accuracy
                                </td>
                                <td>90%</td>
                                <td>"Picture Here"</td>
                            </tr>
                        </table>
                        <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Assignment</button>
                    </div>
                    <!-- Objective section -->
                    <div class="Objective">
                        <h5 class="boldText">Objective: <span>Answers 10 inferential questions(Reading inbetween the lines)</span></h5>
                        <table id="readingObjective" class="TableFormat">
                            <tr>
                                <th>Date</th>
                                <th>Assignment</th>
                                <th>Score</th>
                                <th>Image</th>
                            </tr>
                            <tr>
                                <!-- Need to dynamically populate these / placeholder -->
                                <td>02/10/2019</td>
                                <td>Answering how and why questions</td>
                                <td>50%</td>
                                <td>"Picture Here"</td>
                            </tr>
                        </table>
                        <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Assignment</button>
                    </div>

                </div>

                <div class="tab-pane fade" id="tab4">

                    <!-- We need 2 sections, First we need to do behavior tracking. -->
                    <!-- 2nd we do ABC Chart "Cause and effect of bahavior" -->
                    <!-- 1st section will be divided into Goals and Objectives like 3rd Tab -->
                    <!-- There can be more then one per student -->
                    <h3 class="boldText"><u>Behavior Tracking</u></h3>
                    <div class="" style="margin-bottom: 20px;">
                        <!--Behavior tracking Section -->
                        <div class="trackingSection">
                            <h5 class="boldText">Goal: <span>"Placeholder behavior Goal"</span></h5>
                            <table class="TableFormat">
                                <tr>
                                    <th>Date</th>
                                    <th>Assignment</th>
                                    <th>Score</th>
                                    <th>Image</th>
                                </tr>
                                <tr>
                                    <!-- Need to dynamically populate these / placeholder -->
                                    <td>01/03/2019</td>
                                    <td>
                                        When given a third grade reading passage read aloud, The student will identify the main
                                        idea of the passage with at least 3 supporting details in 4 out of 5 trials with 80% accuracy
                                    </td>
                                    <td>90%</td>
                                    <td>"Picture Here"</td>
                                </tr>
                            </table>
                            <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Assignment</button>
                        </div>
                        <!-- Objective section -->
                        <div class="Objective">
                            <h5 class="boldText">Objective: <span>"Placeholder behavior Objective"</span></h5>
                            <table class="TableFormat">
                                <tr>
                                    <th>Date</th>
                                    <th>Assignment</th>
                                    <th>Score</th>
                                    <th>Image</th>
                                </tr>
                                <tr>
                                    <!-- Need to dynamically populate these / placeholder -->
                                    <td>02/10/2019</td>
                                    <td>Answering how and why questions</td>
                                    <td>50%</td>
                                    <td>"Picture Here"</td>
                                </tr>
                            </table>
                            <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Assignment</button>
                        </div>
                    </div>
                    <!-- 2nd Section ABC Chart, There will only be one per student-->
                    <div class="abcChart">
                        <h3 class="boldText"><u>ABC Chart</u></h3>
                        <table class="TableFormat">
                            <tr>
                                <th>Date</th>
                                <th>Antecedent</th>
                                <th>Behavior</th>
                                <th>Consequence</th>
                            </tr>
                            <tr>
                                <!-- Need to dynamically populate these / placeholder -->
                                <td>09/10/2018</td>
                                <td>What happened before the behavior</td>
                                <td>What was the behavior</td>
                                <td>What was said or done after behavior</td>
                            </tr>
                        </table>
                        <button class="addTestingDataButton"><i class="fa fa-plus"></i> Add Behavior incident</button>
                    </div>
                </div>
             
                </div>
            </div>
        </div>

    </div>
 




  