@using DatabaseInteraction.Models
@model User

@{
    Layout = null;
}


<link rel="stylesheet" type="text/css" href="~/Content/approaching-mastery_forms.css" />
<style>
    .editHeader {
        margin: 10px;
        border: 1px solid lightgrey;
    }

    .editor {
        display: none;
        padding: 10px;
        text-align: center;
    }
</style>
<div id="profileEditor">
    @{
        Model.IsEditing = true;
        @Html.EditorFor(m => m);
    }
</div>