@model  DatabaseInteraction.Models.Goal
@{
    Layout = "";
}

<script>
    function academicGoalEdited(data) {
        if (data.Success) {
            $("#AddEditGoalModal").modal('hide');
        }
        alert(data.Message);
        loadBehaviorGoals();
    }
</script>

<div class="modal-content animate">

    @using (Ajax.BeginForm("EditAcademicGoal", "Student", new AjaxOptions { HttpMethod = "POST", OnSuccess = "academicGoalEdited" }))
    {
        @Html.EditorFor(m => m)
    }

</div>

